.page-header
  %h1
    Create
    %small IFTT Maker Action

.row
  .col-md-6
    = partial 'maker_actions/form', locals: { target_url: url(:maker_actions, :new), submit_caption: 'Create', action: 'create' }
