# Git
.git/
.gitignore

# Vim temporary files
*.swp

# SQLite DBs
db/*.db
# Dev seed data
db/seeds.private.rb

# Logfiles
log/*

# CTags
tags

# File with ENV variables for docker
docker.env
docker.env.dist

# Dev-only files
.env
.rubocop.yml

# Util script
louis-docker.sh
