.page-header
  %h1
    Create
    %small IFTT Maker Event

.row
  .col-md-6
    = partial 'maker_events/form', locals: { target_url: url(:maker_events, :new), submit_caption: 'Create', action: 'create' }
