%h1 IFTT Maker Keys

%a{ href: url(:maker_keys, :new) }
  %span.glyphicon.glyphicon-plus

%table.table
  %thead
    %tr
      %th Key
      %th Last Used
      %th Active

  %tbody
    - @maker_keys.each do |key|
      %tr
        %td= link_to "#{ key.name } (#{ truncate(key.key, length: 10) })", url(:maker_keys, :show, id: key.id)
        %td= pretty_print_date(key.used_at, ago: true, alt: '(never)')
        %td
          - if key.active
            %span.glyphicon.glyphicon-ok
          - else
            %span.glyphicon.glyphicon-remove
