.page-header
  %h1 
    Create
    %small IFTT Maker Key

.row
  .col-md-6
    = partial 'maker_keys/form', locals: { target_url: url(:maker_keys, :new) , submit_caption: 'Create', action: 'create' }
