.page-header
  %h1
    Edit
    %small= @solar_log_station.name

.row
  .col-md-6
    = partial 'solar_log_stations/form', locals: { type: :edit, target_url: url(:solar_log_stations, :edit, id: @solar_log_station.id) }
